*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  }
  
  html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  }
  
  body{
  font-size: 1.5rem;
  Font-family: 'Roboto', sans-serif;
  }

.main{
  padding: 1.5rem;
}

h1{
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

p{
  font-size: 1.6rem;
  line-height: 3rem;
}

h5{
  font-size: 3rem;
  margin-top: 4rem;
}

.icons i{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  color: #000000;
}

.icons a:hover{
  color: #000000;
}

.footer{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #740f74;
  color: #ebe9eb;
  padding: 2rem;
  font-size: 1.5rem;
}

.footer i{
 padding-left: 2rem;
 color: white;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 50%;
    width: 100%;
  }

  .footer {
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
  }

.footer p{
  font-size: 1rem;
}

  p{
    font-size: 1.5rem;
  }
}