*{
    margin: 0rem; padding: 0rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
}

.container{
    padding: 5rem 7rem;
    margin-top: 5rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
}

img{
    width: 12rem;
    height: 12rem;
    margin-left: 7rem;
}

.user-input-box{
    margin: 1rem 0rem;
}

.user-input-box input{
    display: flex;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgb(110, 30, 110);
    padding: 1rem 4rem;
}

.form-submit-btn{
    margin: 1rem 1rem;
}

.form-submit-btn input{
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border-color: rgb(110, 30, 110);

}

.form-submit-btn input:hover{
    background-color: rgb(110, 30, 110);
    color: rgba(240, 248, 255, 0.993);
}

a{
    color: rgb(255, 0, 0);
    cursor: pointer;
}

p{
    margin-top: 3rem;
}

@media (max-width: 600px){

}

@media (768px){

}

@media (992px){

}

@media (1200px) {
    
}