*{
    margin: 0rem; padding: 0rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    border-radius: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container{
    padding: 5rem 5rem;
    margin-top: 5rem;
    border-radius: 1.6rem;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

img{
    width: 12rem;
    height: 12rem;
    margin-left: 2rem;
}

.user-input-box{
    margin: 1rem 0rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.user-input-box input{
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgb(110, 30, 110);
    padding: 1rem 4rem;
}

.user-input-box label{
    font-size: 2rem;
    margin-top: 2rem;
}

.check-box label{
    font-size: 2rem;
}

.form-submit-btn{
    margin: 1rem 1rem;
}

.form-submit-btn input{
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border-color: rgb(110, 30, 110);

}

.form-submit-btn input:hover{
    background-color: rgb(110, 30, 110);
    color: rgba(240, 248, 255, 0.993);
}

a{
    color: #ff0000;
    cursor: pointer;
    font-size: 2rem;
}

p{
    margin-top: 3rem;
    font-size: 2rem;
}

@media (max-width: 600px){

}

@media (768px){

}

@media (992px){

}

@media (1200px) {
    
}