*{
    text-transform: capitalize;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background: #ebe9eb;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

header h1{
    padding-top: 5rem;
}

h4{
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.registration-form{
    padding: 0.5rem;
}

.registration-form label{
    margin: 0.5rem;
    display: block;
    font-size: 1.5rem;
}

.registration-form input{
   padding: 1rem 4rem;
   border-radius: 5rem;
   border-color: #740f74;
}

.sign-up input{
    padding: 1rem 2rem;
    background: fixed #740f74;
    border-radius: 0.5rem;
    color: #fffffffa;
    margin-top: 1.5rem;
}

p{
    margin-top: 2rem;
    font-size: 2rem;
}

a{
color: #fd0707;
}

.checkbox{
    margin-top: 1rem;
}

.checkbox label{
    font-size: 2rem;
}

footer{
    background: fixed #740f74;
    color: #fffffff6;
    text-align: center;
    padding: 4rem;
    margin-top: 5rem;
    font-size: 2rem;
}