*{
    text-transform: capitalize;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background: #ebe9eb;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

header img{
    width: 100px;
    padding: 0;
    margin: 0;
}

header h1{
    padding-top: 4rem;
}

h4{
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.registration-form{
    padding: 0.5rem;
}

.registration-form label{
    margin: 0.5rem;
    display: block;
    font-size: 1.5rem;
}

.registration-form input{
   padding: 1rem 4rem;
   border-radius: 0.5rem;
   border-color: #740f74;
}

.sign-up input{
    padding: 1rem 2rem;
    background: fixed #740f74;
    border-radius: 0.5rem;
    color: #fffffffa;
    margin-top: 1.5rem;
}

h6{
    font-size: 2rem;
    margin-top: 1.5rem;
}

a{
color: #fd0707;
}

.checkbox{
    margin-top: 1rem;
}

.checkbox label{
    font-size: 2rem;
}

.footer{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    background-color: #740f74;
    width: 100%;
    color: #ebe9eb;
    padding: 2rem;
    font-size: 2rem;
 }
 
 .footer i{
   padding-left: 2rem;
   color: white;
 }


 /* Media Query for screens with max-width 768px */
@media screen and (max-width: 768px) {

    header {
        flex-direction: row;
        align-items: center;
    }

    header h1 {
        padding-top: 0;
        display: none;
    }

    h4 {
        font-size: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    .registration-form input{
        padding: 0.8rem 3rem;
        font-size: 1.2rem;
    }

    .sign-up input{
        padding: 0.8rem 2rem;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    h6 {
        font-size: 1.5rem;
        margin-top: 1.2rem;
    }

    .checkbox label{
        font-size: 1.5rem;
    }

    .footer{
        padding-left: 1rem;
        font-size: 1rem;
        flex-direction: row;
        align-items: center;
    }