*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
  
body{
  font-family: 'Roboto', sans-serif;
}


h1{
  font-size: 3rem;
  text-align: center;
  background: #ebe9eb;
  padding: 1rem;
}

i {
  color: #949292;
  padding: 0.5rem;
}
.all-reviews{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review{
  overflow: hidden;
  text-align: center;
  width: 240px;
  height: 250px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 3rem #0000001a;
  margin: 4rem 3rem;
  padding: 1.2rem;
  border-radius: 1rem;
    
}

.review:hover{
  box-shadow: 5px 15px 24px #ccb5cc;
  transform: scale(1.1);
}

.customer-name{
  font-size: 1.5rem;
  color: #424141;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.customer-review{
  font-size: 1.5rem;
}

.footer{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #740f74;
  width: 100%;
  color: #ebe9eb;
  padding: 2rem;
  font-size: 1.5rem;
}

.footer i{
 padding-left: 2rem;
 color: white;
}

@media (max-width: 768px) {

  html {
    font-size: 50%;
  }
  
  h1{
    font-size: 2rem;
    padding: 1.5rem;
  }

.footer {
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  font-size: 1rem;
}

.customer-name{
  background: none;
}
}