*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
  
body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


h1{
  font-size: 5rem;
  /*margin: 3rem;*/
  text-align: center;
  background: #ebe9eb;
  padding: 1.5rem;
}

.all-reviews{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review{
  overflow: hidden;
  text-align: center;
  width: 240px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 3rem #0000001a;
  margin: 4rem 3rem;
  padding: 5rem;
  /*line-height: 25px;*/
   border-radius: 1rem;
    
}

.review:hover{
  box-shadow: 5px 15px 24px #ccb5cc;
  transform: scale(1.1);
}

.customer-name{
  font-size: 2rem;
  background: #ce99ce;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.customer-review{
  font-size: 1.5rem;
}